# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so


# Env
.env
*.env

#logs
/logs/*

# Data
/data/parquet/*
!/data/parquet/.gitkeep
/data/outputs/*
!/data/outputs/.gitkeep


# Jupyter / notebooks
.ipynb_checkpoints


# VSCode / IDE
.vscode/
.idea/
*.swp


# Build / dist
build/
dist/
*.egg-info/